.contain {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom ,blueviolet,white,white); */
  border: 1px solid black;
  padding: 100px;
}


.margintop{
    margin-top: 20px;
}